* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Crimson Text', serif;
}

html, body {
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

header {
	position: fixed;
	top: 0;
	margin-bottom: 80px;
	width: 100%;
	background-color: #444054;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}

header nav {
	width: 45%;
}

header nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-transform: capitalize;
}

header nav ul li a:hover {
	color: rgb(188, 182, 182);
	transition: 0.5s;
}

main {
	margin-top: 20px;
}

section.home {
	padding: 90px 5% 40px;
	display: flex;
	align-items: center;
	justify-content: space-evenly
}


section.home div {
	margin-right: 8px;
}

section.home img {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	border: 2px solid #2F243A;
}

section.home h1 {
	font-size: 55px;
	color: #2F243A;
}

section.home h1 strong {
	text-decoration: underline #D74F1D;
}

section.home h2 {
	margin-bottom: 18px;
	font-size: 30px;
	color: #2F243A;
	font-weight: lighter;
}

.curriculo {
	text-decoration: none;
	background-color: rgb(215, 79, 29);
	padding: 4px 12px;
	color: white;
	font-size: 20px;
	border-radius: 17px;
}

.curriculo:hover {
	transition: 0.3s;
	background-color: rgb(239, 121, 79);
}

section.sobre {
	padding: 50px 5%;
	color: white;
	background-color: #444054;
}

.title {
	text-align: center;
	font-size: 42px;
	margin-bottom: 10px;
}

section.sobre p {
	text-align: center;
	line-height: 26px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: lighter;
}

section.skills {
	padding: 50px 5%;
	color: #444054;
}

section.skills h1 {
	color: #444054;
	margin-bottom: 25px;
}

.content  {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.content div  {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 70px;
	align-items: center;
	margin-bottom: 70px;
}

.content div img  {
	width: 70px;
	height: 100%;
	margin-bottom: 5px;
}

section.projetos {
	background-color: #2F243A;
	padding: 50px 5%;
}

section.projetos h1 {
	color: white;
	margin-bottom: 40px;
}

section.projetos a {
	display: flex;
	flex-direction: column;
	width: 23%;
	align-items: center;
	margin-bottom: 40px;
}

section.projetos a:hover p {
	color: #b29bca;
	transition: 0.4s;
}

section.projetos .content a {
	height: 130px;
	padding: 13px 8px;
	border-radius: 6px;
	box-shadow: rgba(223, 219, 219, 0.24) 0px 3px 8px;
	color: white;
	text-decoration: none;
}

section.projetos .content a img {
	width: 100%;
	height: 80%;
	margin-bottom: 4px;
}

section.contato {
	padding: 50px 4%;
	color: #2F243A;
}

section.contato div {
	display: flex;
	justify-content: space-around;
}

section.contato h1 {
	margin-bottom: 30px;
}

section.contato p {
	margin-bottom: 5px;
	font-size: 25px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	background-color: #444054;
	min-height: 120px;
}

footer p {
	font-size: 20px;
	text-align: center;
}

footer div {
	width: 20%;
	display: flex;
	justify-content: space-around;
}

footer div a img {
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 930px) {
	header nav {
		width: 60%;
	}
}

@media screen and (max-width: 850px) {
	section.contato div {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 700px) {
	header nav {
		width: 75%;
	}
	section.home {
		flex-direction: column;
		padding: 60px 3% 0px;
	}
	section.home div {
		text-align: center;
	}
	section.home div img {
		width: 130px;
		height: 130px;
		margin-top: 15px;
	}
	sectioin.home a {
		font-size: 7px;
	}
	section.home div h1 {
		font-size: 40px;
	}
	section.sobre {
		padding: 45px 4%;
	}
	section.skills {
		padding: 45px 4%;
	}
	section.projetos {
		padding: 45px 4%;
	}
	section.contato {
		padding: 10px 4%;
	}
	section.projetos a {
		width: 47%;
		margin-bottom: 12px;
	} 
}

@media screen and (max-width: 540px) {
	header nav {
		width: 90%;
		font-size: 10px;
	}
}

@media screen and (max-width: 420px) {
	header nav {
		width: 90%;
	}
	header nav ul li a {
		font-size: 15px;
	}
	a.curriculo {
		padding: 2 6px;
		font-size: 13px;
	}
	section.home {
		padding: 60px 2% 40px;
	}
	section.home div h1 {
		font-size: 30px;
	}
	section.home div img {
		width: 100px;
		height: 100px;
	}
	.title {
		font-size: 30px;
	}
	section.home div h2 {
		font-size: 20px;
	}
	section.sobre h1 {
		font-size: 30px;
	}
	section.sobre p {
		font-size: 16px;
		line-height: 22px;
	}
	section.skills {
		margin: 20px auto 0;
	}
	section.skills img {
		width: 40px;
	}
	section.projetos {
		margin: 0px auto;
	}
	section.contato {
		margin: 20px 0;
	}
	section.contato .title {
		margin-bottom: 20px;
	}
	section.contato p {
		font-size: 20px;
	}
	footer p {
		font-size: 18px;
	} 
	footer div {
		width: 40%;
	}
	footer div a img {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width: 280px) {
	header nav ul li a {
		font-size: 12px;
	}
	a.curriculo {
		padding: 1 4px;
		font-size: 10px;
	}
	section.home {
		margin-top: 20px;
	}
	section.home div {
		margin: 10px 0;
	}
	section.home div h1 {
		font-size: 25px;
		margin-bottom: -4px;
	}
	section.home div a {
		font-size: 14px;
	}
	section.home div img {
		width: 80px;
		height: 80px;
	}
	.title {
		font-size: 20px !important;
	}
	section.home div h2 {
		font-size: 18px;
	}
	section.sobre {
		margin: 10px auto;
		padding: 20px 3%;
	}
	section.sobre p {
		font-size: 13px;
		line-height: 16px;
	}
	section.skills {
		margin: 10px auto;
	}
	section.skills .content div {
		width: 40%;
		margin-bottom: 20px;
	}
	section.skills img {
		width: 30px;
		height: 30px;
	}
	section.skills img {
		width: 30px;
		height: 30px;
	}
	section.projetos {
		margin: 10px auto;
		padding: 20px 3%;
	}
	section.contato {
		margin: 10px 0;
	}
	section.contato h1 {
		margin-bottom: 20px;
	}
	section.contato p {
		font-size: 16px;
	}
	footer p {
		font-size: 12px;
	} 
	footer div {
		width: 50%;
	}
	footer div a img {
		width: 30px;
		height: 30px;
	}
}
