* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body, html {
  height: 100%;
}

body {
  background-color: #F2F4F3;
}

header {
  padding: 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-header {
  display: flex;
  align-items: center;
}

img {
  margin-right: 5px;
  width: 130px;
  height: 110px;
  border-radius: 50%;
  border:  2px solid #5E503F;
}

h1 {
  font-family: 'Corinthia', cursive;
  margin-bottom: 20px;
  font-size: 35px;
  color: #5E503F;
  margin-top: 18px;
}

.buttons {
  display: flex;
}

.buttons button{
  background-color: #903B61;
  font-size: 18px;
  color: #F2F4F3;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  margin-right: 12px;
}

.buttons button:hover {
  background-color: #a84a75;
}

.sobre {
  width: 80%;
}

h2 {
  font-family: 'Corinthia', cursive;
  font-size: 60px;
  margin-bottom: 20px;
  color: #5E503F;
}

p {
  line-height: 40px;
  font-size: 32px;
  color: #5E503F;
}

a {
  text-decoration: none;
  color: #5E503F;
}

main {
  min-height: 310px;
}

section {
  display: flex;
  justify-content: center;
  padding: 20px 2%;
  align-items: center;
}

.sobre {
  width: 90%;
}

.projetos {
  width: 90%;
  display: none;
  flex-direction: column;
}

.out {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single {
  flex-basis: 24%;
  background-color: #5E503F;
  padding: 12px 5px;
	display: flex;
	flex-direction: column;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 2px 3px 3px #222121;
} 

.single:hover {
  background-color: #6d5d4a;
}

.single i {
  font-size: 30px;
  margin-bottom: 6px;
  color: #F2F4F3;
}

.single span {
  font-size: 17px;
  color: #F2F4F3;
  font-weight: 200;
  letter-spacing: 2px;
}

.skills {
  width: 90%;
  display: none;
}

.skills .single {
  flex-basis: 24%;
}

.skills .single:hover {
  background-color: #5E503F;
}

footer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

footer a {
  margin-right: 20px;
  font-size: 33px;
  color: #903B61;
}

footer a:hover {
  color: #c05a88;
}

@media screen and (max-width:470px) {
  header {
    padding: 10px 0;
  }
  .img-header {
    flex-direction: column;
  }
  h1 {
    font-size: 35px;
    margin: 0;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 6px;
  }
  p {
    font-size: 25px;
    line-height: 30px;
  }
  .buttons {
    margin-bottom: 10px;
  }
  footer a {
    font-size: 22px;
  }
}

@media screen and (max-width:730px) {
  header {
    flex-direction: column;
  }
  .img-header {
    margin-bottom: 15px;
  }
  img {
    width: 100px;
    height: 80px;
  }
  .projetos {
    width: 100%;
    padding: 0 2%;
  }
  .projetos .out {
    justify-content: space-evenly;
  }
  section {
    width: 98%;
    padding: 0;
  }
  .single {
    flex-basis: 32%;
  }
}

@media screen and (max-width:630px) {
  .single, .skills .single {
    flex-basis: 47%;
  }

}