* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
}

body, html {
	height: 100%;
}

header {
	padding: 12px 0;
	background-color: blue;
}

header .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
	text-decoration: none;
}

header h1 {
	font-family: 'Corinthia', cursive;
	color: white;
  border-bottom: none;
}

nav ul {
  display: flex;
	list-style-type: none;
	justify-content: space-between;
}

nav ul li {
  margin: 0 8px;
}

nav ul li a {
	color: white;
	font-size: 22px;
} 

ul li a:hover {
	color: rgb(224, 222, 222);
}

section {
  margin: 50px 0;
}

.user .center{
	display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 30px;
  font-size: 35px;
  border-bottom: 1px solid;
}

.sobre-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  border-radius: 6px;
  width: 300px;
  height: 280px;
  border: 2px solid
}

.user p {
	max-width: 65%;
	line-height: 40px;
	font-size: 27px;
}

.skills {
  background-color: rgb(101, 184, 133);
  padding: 30px 0;
}

.skills .center {
  display: flex;
  flex-direction: column;
}

.out {
  display: flex;
  flex-wrap: wrap;
}

.single {
  width: 150px;
  background-color: blueviolet;
  padding: 18px 0;
	display: flex;
  flex-wrap: wrap;
  align-items: center;
	flex-direction: column;
  justify-content: center;
  margin: 0 20px 20px 0;
  border-radius: 6px;
} 

.single i {
  font-size: 45px;
  margin-bottom: 6px;
}

.single-skill span {
  font-size: 20px;
}

section.projetos i  {
  color: black;
  font-size: 34px;
  margin-bottom: 8px;
}

section.projetos span {
  color: black;
  font-size: 22px;
} 

 @media screen and (max-width: 550px) {
   header .center {
     flex-direction: column;
     justify-content: center;
   }
   header nav {
     margin-top: 5px;
   }
 }

 @media screen and (max-width: 930px) {
  .sobre-user {
    justify-content: center;
  }
  img {
    width: 80%;
    margin-bottom: 15px;
  }
  
  .user p {
    max-width: 100%;
    line-height: 40px;
    font-size: 27px;
  } 
}
