* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

body {
  background-color: rgb(136, 98, 98);
}

header {
  background-color: rgb(34, 107, 82);
  padding: 12px 0;
  margin-bottom: 15px;
}

h1 {
  color: white;
  font-style: italic;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 4px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  background-color: white;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  margin: auto;
  width: 80%;
  height: 100px;
}

.item .item__add {
  background-color: rgb(48, 139, 107);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  color: white;
  font-size: 16px;
}

.cart {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: azure;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.cart__items {
  list-style-type: none;
}

.cart__item {
  padding-left: 30px;
  display: flex;
  align-items: center;
  margin: 9px 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.cart__item img {
  margin-right: 7px;
  width: 100px;
}

.cart__item div {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
}

.cart__item div span {
  font-size: 15px;
  margin-bottom: 2px;
}

.cart__item div span:nth-last-of-type(1) {
  font-weight: 600;
}

.cart__item  p {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-self: flex-start;
  font-size: 18px;
}

.cart .cart__title {
  font-size: 22pt;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.empty-cart {
  border-radius: 4px;
  border: 0;
  padding: 4px 8px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  background-color: black;
}

.loading {
  width: 100%;
  text-align: center;
  position: fixed;
  color: white;
  font-size: 30px;
}

.none {
  display: none;
}

.item__price {
  margin: 0 0 6px 6px;
}

p {
  font-weight: 600;
  margin: 9px 0 16px;
  font-size: 22px;
}

@media screen and (max-width: 400px) {
  .cart__items div {
    flex-basis: 60%;
  }
  .cart__item {
    padding: 0;
  }
}